.container {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: 1fr;
}

.green {
	grid-column: span 2;
	grid-row: 1/3;
}

.zone {
	cursor: pointer;
	/*display: inline-block;*/
	text-align: center;
	font-size: 10em;
	border-radius: 4px;
	border: 1px solid #BBBBBB;
	transition: all 0.3s linear;
}

.zone:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}


/* source: https://paulund.co.uk/how-to-create-shiny-css-buttons */
/***********************************************************************
 *  green backGround
 **********************************************************************/
.green {
	background: #56B870;
	/* Old Browsers */
	background: -moz-linear-gradient(top, #56B870 0%, #A5C956 100%);
	/* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56B870), color-stop(100%, #A5C956));
	/* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #56B870 0%, #A5C956 100%);
	/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #56B870 0%, #A5C956 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #56B870 0%, #A5C956 100%);
	/* InterNet Explorer 10+ */
	background: linear-gradient(top, #56B870 0%, #A5C956 100%);
	/* W3C */
}

/***********************************************************************
 *  red backGround
 **********************************************************************/
.red {
	background: #C655BE;
	/* Old Browsers */
	background: -moz-linear-gradient(top, #C655BE 0%, #CF0404 100%);
	/* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C655BE), color-stop(100%, #CF0404));
	/* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #C655BE 0%, #CF0404 100%);
	/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #C655BE 0%, #CF0404 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #C655BE 0%, #CF0404 100%);
	/* InterNet Explorer 10+ */
	background: linear-gradient(top, #C655BE 0%, #CF0404 100%);
	/* W3C */
}

/***********************************************************************
 *  yellow backGround
 **********************************************************************/
.yellow {
	background: #F3AAAA;
	/* Old Browsers */
	background: -moz-linear-gradient(top, #F3AAAA 0%, #FEBF04 100%);
	/* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3AAAA), color-stop(100%, #FEBF04));
	/* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #F3AAAA 0%, #FEBF04 100%);
	/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #F3AAAA 0%, #FEBF04 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F3AAAA 0%, #FEBF04 100%);
	/* InterNet Explorer 10+ */
	background: linear-gradient(top, #F3AAAA 0%, #FEBF04 100%);
	/* W3C */
}

/***********************************************************************
 *  blue backGround
 **********************************************************************/
.blue {
	background: #7ABCFF;
	/* Old Browsers */
	background: -moz-linear-gradient(top, #7ABCFF 0%, #60ABF8 44%, #4096EE 100%);
	/* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ABCFF), color-stop(44%, #60ABF8), color-stop(100%, #4096EE));
	/* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #7ABCFF 0%, #60ABF8 44%, #4096EE 100%);
	/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #7ABCFF 0%, #60ABF8 44%, #4096EE 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7ABCFF 0%, #60ABF8 44%, #4096EE 100%);
	/* InterNet Explorer 10+ */
	background: linear-gradient(top, #7ABCFF 0%, #60ABF8 44%, #4096EE 100%);
	/* W3C */
}

/***********************************************************************
 *  purple backGround
 **********************************************************************/
.purple {
	background: #A88BEB;
	/* Old Browsers */
	background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%);
	/* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A88BEB), color-stop(44%, #F1A7F1), color-stop(100%, #F8CEEC));
	/* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%);
	/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%);
	/* InterNet Explorer 10+ */
	background: linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%);
	/* W3C */
}

/***********************************************************************
 *  brown backGround
 **********************************************************************/
.brown {
	background: #F6E6B4;
	/* Old Browsers */
	background: -moz-linear-gradient(top, #F6E6B4 0%, #ED9017 100%);
	/* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6E6B4), color-stop(100%, #ED9017));
	/* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #F6E6B4 0%, #ED9017 100%);
	/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #F6E6B4 0%, #ED9017 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F6E6B4 0%, #ED9017 100%);
	/* InterNet Explorer 10+ */
	background: linear-gradient(top, #F6E6B4 0%, #ED9017 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6E6B4', endColorstr='#ED9017', GradientType=0);
	/* InterNet Explorer 6-9 */
}